<div class="col-md-3">
   <h2>User Info</h2>
   <table class="table">
    <tbody>
     <tr></tr>
     <tr>
	  <th><%= image_tag user.get_profile_image(100,100) %></th>
     </tr>
     <tr>
      <th>name  <%= user.name %></th>
     </tr>
     <tr>
	  <th>introduction  <%= user.introduction %></th>
	 </tr>
	  <th></th>
    </tbody>
   </table>
   
       <%= link_to edit_user_path(user.id), class: 'btn btn-outline-secondary btn-block' do %>
       <i class="fas fa-user-cog" aria-hidden="true"></i>
       <% end %>
  



   <h2>New book</h2>
    <%= form_with model: book do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opinion</p>
    <%= f.text_area :body %></br>
    <div class="form group">
     <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
    </div>
   <% end %>
  </div>

 





