<div class="container px-5 px-sm-0">
 <div class="row">
   <!--%= render 'list', book: @book, books: @books, user: @user %>-->
   

<p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        
  		<h1>Editing Book</h1>
  		
  		<%= render 'error', book: @book, books: @books, user: @user %>

  	<%= form_with model: @book do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opinion</p>
    <%= f.text_area :body %></br>

    <%= f.submit "Update Book", class:"btn btn-sm btn-success" %>

   <% end %>


  		<%= link_to"Show", book_path(@book.id) %> |
  		<%= link_to"Back", books_path %>
  </div>
</div>
      </div>

</div>
</div>

